@tailwind base;
@tailwind components;
@tailwind utilities;

/*signin page styles*/
.signin-bg-img {
  background-image: url("/images/warehouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* text inbetween hr line -- begin */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #e5e7eb;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
/* text inbetween hr line -- begin */